<div *ngIf="aboutMe" id="aboutMe" class="aboutMe">

  <ul id="aboutMeNav" class="aboutMe__navList">
    <li *ngFor="let paragraph of aboutMe.post.paragraphs"
        class="aboutMe__navItem">
      <a (click)="slideToElement(paragraph.name)" class="aboutMe__navLink"></a>
      <span class="aboutMe__navTitle">{{paragraph.name}}</span>
    </li>
  </ul>



  <div class="resumeBar">
    download my resume
    <a class="resumeBar__btn" href="https://salty-tundra-80705.herokuapp.com/api/pdf">resume</a>
  </div>

  <div *ngFor="let paragraph of aboutMe.post.paragraphs">
    <h1 id={{paragraph.name}} class="aboutMe__title">{{paragraph.title}}</h1>
    <div class="aboutMe__descBlock">

      <div *ngIf="paragraph.description" class="aboutMe__desc">
        {{paragraph.description}}
      </div>

      <div *ngFor="let subParagraph of paragraph.subParagraphs">
        <div class="aboutMe__time">
          {{subParagraph.subTitle}}
        </div>
        <div>
          {{subParagraph.subDescription}}
        </div>
        <ul class="aboutMe__descList">
          <li *ngFor="let subListItem of subParagraph.subList"
              class="aboutMe__descItem">
            {{subListItem}}
          </li>
        </ul>
      </div>

      <ul class="aboutMe__descList">
        <li *ngFor="let listItem of paragraph.list"
            class="aboutMe__descItem">
          {{listItem}}
        </li>
      </ul>

    </div>
  </div>
</div>
