<div id="aboutMe" class="aboutMe">

  <ul id="aboutMeNav" class="aboutMe__navList">
    <li class="aboutMe__navItem">
      <a (click)="slideToElement('biography')" class="aboutMe__navLink"></a>
      <span class="aboutMe__navTitle">biography</span>
    </li>
    <li class="aboutMe__navItem">
      <a (click)="slideToElement('skills')" class="aboutMe__navLink"></a>
      <span class="aboutMe__navTitle">skills</span>
    </li>
    <li class="aboutMe__navItem">
      <a (click)="slideToElement('carrier')" class="aboutMe__navLink"></a>
      <span class="aboutMe__navTitle">carrier</span>
    </li>

    <li class="aboutMe__navItem">
      <a (click)="slideToElement('language')" class="aboutMe__navLink"></a>
      <span class="aboutMe__navTitle">language</span>
    </li>

    <li class="aboutMe__navItem">
      <a (click)="slideToElement('project')" class="aboutMe__navLink"></a>
      <span class="aboutMe__navTitle">project</span>
    </li>
  </ul>

  <div class="aboutMe__photoWrap">
    <img class="aboutMe__photo" src="assets/img/myPhoto.jpg" alt="my photo">
  </div>
  <h1 id="biography" class="aboutMe__title">Hello world</h1>
  <div class="aboutMe__descBlock">
    <div class="aboutMe__desc">
      My name - Limanskiy Yakov.<br>
      And i am Frond-end developer<br>
      <br>
      Short representation my self:<br>
      I born in Ukraine, Mariupol city in 1989. Finish middle-school in 2006, in this year entered the University -
      PRYAZOVSKYI STATE TECHNICAL UNIVERSITY - Faculty of metallurgy (State Higher Educational Institution of III-IV Accreditation Level.
      Founded in 1930). It is one of the oldest in the university and is rich with traditions and training experience.
    </div>
    <div class="aboutMe__clear"></div>

    <h1 id="skills" class="aboutMe__title">Skills</h1>
    <ul class="aboutMe__descList">
      <li class="aboutMe__descItem">HTML5</li>
      <li class="aboutMe__descItem">CSS3</li>
      <li class="aboutMe__descItem">JS</li>
      <li class="aboutMe__descItem">Git</li>
      <li class="aboutMe__descItem">PHP</li>
      <li class="aboutMe__descItem">Project builder:</li>
    </ul>

    <h1 id="carrier" class="aboutMe__title">Work carrier and experience</h1>
    <div class="aboutMe__desc">
      <span class="aboutMe__time">september 2016 - july 2017</span><br>
      My work caries i started as a freelancer in upwork platform and Mariupol city web-studio. Convert PSD layout
      in markup.
      <br>
      Instrument use: <br>
      <ul class="aboutMe__descList">
        <li class="aboutMe__descItem">HTML5, CSS, SASS, SCSS, JS</li>
        <li class="aboutMe__descItem">Gulp</li>
        <li class="aboutMe__descItem">Bower</li>
        <li class="aboutMe__descItem">Jquery, bootstrap 3, owl.carousel</li>
      </ul>
    </div>
    <div class="aboutMe__desc">
      <span class="aboutMe__time">july 2017 - march 2018</span><br>
      In july 2017 i transfer to Kiev and find job in small outsourcing start-up company. <br>
      We make web services for
      English customers. Booking services with saving data client, calculate available and rate of goods/services
      depends on client reviews, append of a flexible administrative panel.
      <br>
      Creating aggregator for get data from competitors, equals of price and condition goods/services.
      <br>
      Instrument use: <br>
      <ul class="aboutMe__descList">
        <li class="aboutMe__descItem">HTML5, LESS, SCSS, JS</li>
        <li class="aboutMe__descItem">Gulp</li>
        <li class="aboutMe__descItem">Jquery, select2, bootstrap3/4, dragula.js, fullcalendar.js, owl.carousel.js, moment.js</li>
        <li class="aboutMe__descItem">Webpack</li>
        <li class="aboutMe__descItem">Angular 4</li>
        <li class="aboutMe__descItem">Symfony 3, twig</li>
        <li class="aboutMe__descItem">Yii 2</li>
        <li class="aboutMe__descItem">JIRA, Bitbucket</li>
        <li class="aboutMe__descItem">Composer</li>
      </ul>
    </div>
    <div class="aboutMe__desc">
      <span class="aboutMe__time">march 2018 - till now</span><br>
      In march 2018 i change company to ABM cloud. We develop cloud solution for bossiness - my team build
      web application calls ABM-shelf. Web application can create store, equipment, place goods in shelf.
      Build analytic for shelf and goods, make 3d model of equipment.
      Instrument use: <br>
      <ul class="aboutMe__descList">
        <li class="aboutMe__descItem">HTML5, SASS, JS</li>
        <li class="aboutMe__descItem">Gulp</li>
        <li class="aboutMe__descItem">AngularJS</li>
        <li class="aboutMe__descItem">Fabric.js</li>
        <li class="aboutMe__descItem">Three.js</li>
      </ul>
    </div>

    <h1 id="language" class="aboutMe__title">Knowledge of English</h1>
    <div class="aboutMe__desc">
      At the level of reading technical documentation (Intermediate)
    </div>

    <h1 id="project" class="aboutMe__title">This project</h1>
    <div class="aboutMe__desc">
      When i started this project planed only how training last angular version (at that moment last Angular
      have number 6 :) ), but very soon i understand opportunities creating platform. And i don't have
      good introduction my self in internet, so that project transformate in site-portfolio.
    </div>

  </div>
</div>
