<div class="aboutMe">
  <div class="aboutMe__photo">
    photo
  </div>
  <div class="aboutMe__descBlock">
    <p class="aboutMe__desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci deleniti eligendi ex excepturi expedita fuga fugit
      inventore ipsum iure, laboriosam laudantium minima molestiae nihil nisi nostrum odio officia optio possimus quasi qui sapiente
      sint tempore. Beatae dolores esse exercitationem laboriosam magnam nam necessitatibus numquam officiis pariatur sunt.
      Architecto blanditiis consectetur consequatur corporis delectus deserunt dolorem ea earum exercitationem explicabo facere
      fugit ipsam, iusto libero minima molestiae omnis placeat porro quasi sit vitae voluptate voluptatem? Ab aliquid corporis dolor
      doloribus eligendi, eos et ex ipsa iusto libero maxime necessitatibus nemo numquam odit officia pariatur qui quia quos sit
      suscipit tenetur voluptate.
    </p>
    <ul class="aboutMe__descList">
      <li class="aboutMe__descItem">skill</li>
      <li class="aboutMe__descItem">skill</li>
      <li class="aboutMe__descItem">skill</li>
      <li class="aboutMe__descItem">skill</li>
      <li class="aboutMe__descItem">skill</li>
      <li class="aboutMe__descItem">skill</li>
      <li class="aboutMe__descItem">skill</li>
    </ul>
    <p class="aboutMe__desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci deleniti eligendi ex excepturi expedita fuga fugit
      inventore ipsum iure, laboriosam laudantium minima molestiae nihil nisi nostrum odio officia optio possimus quasi qui sapiente
      sint tempore. Beatae dolores esse exercitationem laboriosam magnam nam necessitatibus numquam officiis pariatur sunt.
      Architecto blanditiis consectetur consequatur corporis delectus deserunt dolorem ea earum exercitationem explicabo facere
      fugit ipsam, iusto libero minima molestiae omnis placeat porro quasi sit vitae voluptate voluptatem? Ab aliquid corporis dolor
      doloribus eligendi, eos et ex ipsa iusto libero maxime necessitatibus nemo numquam odit officia pariatur qui quia quos sit
      suscipit tenetur voluptate.
    </p>
    <p class="aboutMe__desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci deleniti eligendi ex excepturi expedita fuga fugit
      inventore ipsum iure, laboriosam laudantium minima molestiae nihil nisi nostrum odio officia optio possimus quasi qui sapiente
      sint tempore. Beatae dolores esse exercitationem laboriosam magnam nam necessitatibus numquam officiis pariatur sunt.
      Architecto blanditiis consectetur consequatur corporis delectus deserunt dolorem ea earum exercitationem explicabo facere
      fugit ipsam, iusto libero minima molestiae omnis placeat porro quasi sit vitae voluptate voluptatem? Ab aliquid corporis dolor
      doloribus eligendi, eos et ex ipsa iusto libero maxime necessitatibus nemo numquam odit officia pariatur qui quia quos sit
      suscipit tenetur voluptate.
    </p>
  </div>
</div>
