<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <a class="content__block content__block--small" routerLink="/about-me" routerLinkActive="active">
          ABOUT ME
        </a>
      </div>
      <div class="col-6">
        <a class="content__block content__block--small" routerLink="/music" routerLinkActive="active">
          MUSIC
        </a>
      </div>
      <div class="col-12">
        <a class="content__block content__block--large">
          NEWS
        </a>
      </div>
      <div class="col-6">
        <a class="content__block content__block--small">
          GAME
        </a>
      </div>
      <div class="col-6">
        <a class="content__block content__block--small">
          WEATHER
        </a>
      </div>
    </div>
  </div>
</div>
