<div class="portfolio">
  <div class="portfolio__block">
    <h1 class="portfolio__title">TITLE</h1>
    <div class="portfolio__imgWrap">
      <img class="portfolio__img" src="../../assets/img/default.jpg" alt="img">
      <img class="portfolio__img" src="../../assets/img/default.jpg" alt="img">
      <img class="portfolio__img" src="../../assets/img/default.jpg" alt="img">
    </div>
    <div class="portfolio__linkBlock">
      <a class="portfolio__link" href="#" target="_blank">link</a>
    </div>
    <div class="portfolio__desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga magni nobis quasi qui? Ducimus in ipsum, minus necessitatibus ratione velit. Accusamus ad amet assumenda debitis dolorem enim eos error est, exercitationem facere fugit illum impedit in ipsam itaque labore laborum libero magnam molestias nemo neque nesciunt non numquam optio perferendis quaerat quas quibusdam quod sed tempore, tenetur totam unde ut vitae voluptas voluptate voluptatum? Animi aperiam architecto deleniti dolores facilis fugit ipsam modi non nostrum optio, possimus quas quia ratione repellat repellendus, sit tempora unde voluptas voluptatibus voluptatum. Architecto dolor doloribus, eius molestiae pariatur reiciendis! Doloribus inventore magnam mollitia quas?
    </div>

  </div>
</div>