@import "../variable";

.portfolio{
  &__block{
    background-color: $black;
    padding: 5px 15px 25px 15px;
    margin: 0 15px 35px 0;
  }
  &__title{
    display: inline-block;
    text-align: center;
    font-size: 22px;
    padding-right: 25px;
    margin: 15px 0 15px 15px;
    text-transform: capitalize;
    color: $white;
    border-bottom: 1px solid $addColor;
  }
  &__imgWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  &__img{
    width: 32%;
  }
  &__linkBlock{
    margin: 10px 0 15px 0;
  }
  &__link{
    display: inline-block;
    padding: 10px 20px;
    color: $black;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    background-color: $accentColor;
    transition: all 0.3s ease-in-out;
      &:hover{
        background-color: $addColor;
      }
  }
  &__desc{
    font-size: 16px;
    text-align: justify;
    color: $greyLight;
  }
}

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}


/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}

/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .portfolio{
    &__link{
      font-size: 14px;
      padding: 10px 10px;
    }
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}

