.header{
  margin-bottom: 25px;
  &__content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: black;
    color: white;
  }
}

.nav{
  display: flex;
  flex-direction: column;
  &__block{
    background-color: black;
    height: 100px;
    margin-bottom: 25px;
  }
}

.footer{
  &__block{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 150px;
    color: white;
  }
}
