<div class="header">
    <div class="container">
        <div class="header__content">
            HEADER
        </div>
    </div>
</div>

<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <nav class="nav">
                    <a class="nav__block"
                       routerLink="/"
                       routerLinkActive="nav__block--active">
                        <span class="nav__capital">A</span>
                        <span class="nav__title">ABOUT ME</span>
                    </a>
                    <a class="nav__block"
                       routerLink="/news"
                       routerLinkActive="nav__block--active">
                        <span class="nav__capital">N</span>
                        <span class="nav__title">NEWS</span>
                    </a>
                    <a class="nav__block"
                       routerLink="/music"
                       routerLinkActive="nav__block--active">
                        <span class="nav__capital">M</span>
                        <span class="nav__title">MUSIC</span>
                    </a>
                    <a class="nav__block"
                       routerLinkActive="nav__block--active">
                        <span class="nav__capital">W</span>
                        <span class="nav__title">WEATHER</span>
                    </a>
                </nav>

            </div>
            <div class="col-md-10">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</main>


<div class="footer">
    <div class="container">
        <div class="footer__block">
            FOOTER
        </div>
    </div>
</div>
