<div class="header">
    <div class="container">
        <div class="header__content">
            HEADER
        </div>
    </div>
</div>

<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <nav class="nav">
                    <a class="nav__block"
                       routerLink="/"
                       [ngClass]="{'nav__block--active' : routerLinkActive}"
                       routerLinkActive="active">
                        ABOUT ME
                    </a>
                    <a class="nav__block"
                       [ngClass]="{'nav__block--active' : routerLinkActive}"
                       routerLink="/news">
                        NEWS
                    </a>
                    <a class="nav__block"
                       [ngClass]="{'nav__block--active' : routerLinkActive}"
                       routerLink="/music">
                        MUSIC
                    </a>
                    <a class="nav__block">
                        WEATHER
                    </a>
                </nav>

            </div>
            <div class="col-md-10">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</main>


<div class="footer">
    <div class="container">
        <div class="footer__block">
            FOOTER
        </div>
    </div>
</div>
