@import "variable";

.header{
  margin-bottom: 25px;
  &__content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: $black;
    color: white;
  }
}

.nav{
  display: flex;
  flex-direction: column;
  &__block{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black;
    height: 120px;
    width: 120px;
    margin-bottom: 25px;
    color: $greyLight;
    border-bottom: 3px solid $addColor;
    transition: color 0.2s ease;
    &:hover{
      color: $white;
    }
    &.nav__block--active{
      color: $accentColor;
    }
  }
}

.footer{
  &__block{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black;
    height: 150px;
    color: white;
  }
}
