<div class="header">
    <div class="container">
        <div class="header__contentWrap">
            <div class="header__content">
                HEADER
            </div>
            <div ng-model="appComponentModel.burger" (click)="appComponentModel.burger? appComponentModel.burger = false : appComponentModel.burger = true" class="burger">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </div>
</div>

<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <nav [ngClass]="{'nav--active' : appComponentModel.burger}" class="nav">
                    <a class="nav__block"
                       routerLink="/"
                       [routerLinkActiveOptions]="{ exact: true }"
                       routerLinkActive="nav__block--active">
                        <span class="nav__capital">A</span>
                        <span class="nav__title">ABOUT ME</span>
                    </a>
                    <a class="nav__block"
                       routerLink="/news"
                       routerLinkActive="nav__block--active">
                        <span class="nav__capital">N</span>
                        <span class="nav__title">NEWS</span>
                    </a>
                    <a class="nav__block"
                       routerLink="/music"
                       routerLinkActive="nav__block--active">
                        <span class="nav__capital">M</span>
                        <span class="nav__title">MUSIC</span>
                    </a>
                    <a class="nav__block"
                       routerLinkActive="nav__block--active">
                        <span class="nav__capital">W</span>
                        <span class="nav__title">WEATHER</span>
                    </a>
                </nav>

            </div>
            <div class="col-md-10">
                <div (scroll)="scrollHandler($event)" class="main__content custom-scroll">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</main>


<div class="footer">
    <div class="container">
        <div class="footer__blockWrap">
            <div [ngClass]="{'footer__block--active' : appComponentModel.show}"
                    class="footer__block">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer__label">
                            phone
                            <a class="footer__info" href="tel:+380962558179">+380 96 255 81 79</a>
                        </div>
                    </div>
                    <div class="col-md-4 footer__arrowBlockWrap">
                        <div ng-model="appComponentModel.show"
                             (click)="appComponentModel.show ? appComponentModel.show = false : appComponentModel.show = true"
                             class="footer__arrowBlock">
                            <span [hidden]="appComponentModel.show" class="footer__message">click to show form</span>
                            <span [hidden]="!appComponentModel.show" class="footer__message">click to hide form</span>
                            <i class="fa fa-angle-up"></i>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer__label">
                            email
                            <a class="footer__info" href="mailto:limanskiy1989@gmail.com">limanskiy1989@gmail.com</a>
                        </div>
                    </div>
                </div>

                <form class="footer__form" [formGroup]="form">
                    <span class="footer__formTitle">form request</span>
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <textarea formControlName="text" class="footer__textArea" placeholder="your message"></textarea>
                        </div>
                        <div class="col-md-6 offset-md-3">
                            <input formControlName="email" class="footer__input" placeholder="email" type="email">
                        </div>
                        <div class="col-md-6 offset-md-3 footer__subWrap">
                            <button *ngIf="form.valid" class="footer__submit" type="submit">
                                <i class="fa fa-telegram"></i>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
