$white: #e8e8e8;
$black: #090909;
$greyDark: #232323;
$grey: #606060;
$greyLight: #a8a8a8;

$accentColor: #ffc518;
$addColor: #fe6700;

//import fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
