<div class="news">
  <div class="news__bar"
       *ngIf="newsAssets">
      <select  (change)="changePressProofCountry($event.target)"
               class="news__select">
        <option class="news__option"
                *ngFor="let country of newsAssets.countries"
                [selected]="country.code == 'us'"
                value="{{country.code}}">
          {{country.country}}
        </option>
      </select>
      <div>
        <ul>
          <li *ngFor="let category of newsAssets.categories"
              (click)="changePressProofCategory(category)">
            {{category}}
          </li>
        </ul>
      </div>
  </div>

  <div class="news__wrapper"
       *ngIf="news">
    <div class="pressProof"
         *ngFor="let pressProof of news.articles">
      <h4 class="pressProof__title">{{pressProof.title}}</h4>
      <p class="pressProof__description">{{pressProof.description}}</p>
      news works!
      <div class="pressProof__publishedAt">{{pressProof.publishedAt}}</div>
      <div class="pressProof__magazine">{{pressProof.source.name}}</div>

      <div class="pressProof__imgWrapper">
        <img class="pressProof__img" src="{{pressProof.urlToImage}}" alt="">
      </div>
      <div class="pressProof__author">{{pressProof.author}}</div>
      <div class="pressProof__linkWrap">
        <a href="{{pressProof.url}}" target="_blank" class="pressProof__link">
          read more...
        </a>
      </div>
    </div>
  </div>
</div>
