<div class="news">
  <div class="news__wrapper"
       *ngIf="news">
    <div class="pressProof"
         *ngFor="let pressProof of news.articles">
      <h4 class="pressProof__title">{{pressProof.title}}</h4>
      <p class="pressProof__description">{{pressProof.description}}</p>
      news works!
      <div class="pressProof__publishedAt">{{pressProof.publishedAt}}</div>
      <div class="pressProof__magazine">{{pressProof.source.name}}</div>

      <div class="pressProof__imgWrapper">
        <img class="pressProof__img" src="{{pressProof.urlToImage}}" alt="">
      </div>
      <div class="pressProof__author">{{pressProof.author}}</div>
      <div class="pressProof__linkWrap">
        <a href="{{pressProof.url}}" class="pressProof__link">
          read more...
        </a>
      </div>


    </div>
  </div>
</div>
