@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

@import '~normalize.css/normalize.css';


body{
    background-color: black;
}

*{
    outline: none;
}
